DB_DSN=postgresql://postgres@localhost:5432/postgres
REDIRECT_URL=https://app.test.profcomff.com/404
TIMETABLE_NAME=""
SCOPES=["https://www.googleapis.com/auth/calendar", "https://www.googleapis.com/auth/userinfo.email"]
GOOGLE_CLIENT_SECRET={}
