fastapi
fastapi-sqlalchemy
psycopg2-binary
pydantic[dotenv]
uvicorn
alembic
jinja2
aiofiles
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
pytz
icalendar
SQLAlchemy
gunicorn
python-multipart
httpx
