<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Auth calendar</title>
    <style>
        .container > * {
            margin: 40px;
            width: 100%;
            height: 50px;
        }
    </style>
    <title>Календарь создан</title>
</head>
<body>
<h1>
    <div class="container">
        <h1>Подписка на календарь группы</h1>
    </div>
</h1>
<div class="container">
    <p>
        Календарь для вашей группы создан в вашем Google календаре
    </p>
    <form action="https://calendar.google.com/" target="_blank">
    <button class="">Перейти в Google календарь</button>
    </form>
</div>
</body>
</html>